/* CSS Variables */
:root {
    --bg-color: #fff;
    --text-color: #040406;
    --second-color: #FF5349;
    --main-color: #464196;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
}

.logo img {
    height: auto;
    width: 160px;
    max-width: 100%;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--main-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
}

.navbar a:hover {
    color: var(--second-color);
}

#downMenu {
    color: var(--main-color);
    font-size: 14px;
}

#downMenu:hover {
    color: var(--second-color);
}

.navbar ul li a {
    display: block;
    padding: 1px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

.navbar li ul {
    display: none;
    padding-top: 14px;
    padding-left: 6px;
}

.navbar li:hover ul {
    display: block;
    position: absolute;
}

.navbar li:hover li {
    float: none;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    margin-left: 10px;
    font-size: 24px;
    color: var(--main-color);
    margin-right: 15px;
}

.header-icons i:hover {
    color: var(--second-color);
}

#menu-icon {
    font-size: 34px;
    color: var(--main-color);
    z-index: 10000;
    cursor: pointer;
    display: none;
}

section {
    padding: 70px 13%;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.home h6 {
    color: var(--second-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.home h1 {
    font-size: var(--big-font);
    color: var(--main-color);
    margin: 15px 0 15px;
}

.home-text p {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 48px;
}

.home-img img {
    height: auto;
    width: 100%;
}

.latter form {
    width: 100%;
    max-width: 460px;
    position: relative;
}

.latter form input:first-child {
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 16px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.latter form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 16px 45px;
    border-radius: 30px;
    cursor: pointer;
    top: 1.55px;
    right: 1px;
}

.latter form input:last-child:hover {
    background: var(--second-color);
}

@media (max-width: 1410px) {
    header {
        padding: 10px 3%;
        transition: .2s;
    }

    section {
        padding: 70px 3%;
        transition: .2s;
    }
}

@media (max-width: 1050px) {
    :root {
        --big-font: 3.2rem;
        --h2-font: 2rem;
        --p-font: 1rem;
        transition: 0.1s;
    }

    .home {
        height: 84vh;
    }
}

@media (max-width: 1025px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 110vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 170px 30px;
    }
}

@media (max-width: 890px) {
    .home {
        height: 150vh;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .home-text {
        padding-top: 20px;
    }

    .home-img {
        text-align: center;
    }

    .home-img img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .home {
        height: 120vh;
    }
}
